body{
    width:100%;
    height:100%;
}





/* Media query */
@media (orientation:portrait){
    body{
        width:100%;
        height:100vh;
    }
}

/* Media query for landscape */
@media (orientation:landscape){
    body{
        width:100%;
        height:100vh;
    }
}